{% extends "base.j2" %}

{% block mytab -%}
<section class="content">
{% block main -%}
<article class="post">

  <nav class="post_nav">
    <h0>SIMULZINE ff</h0>
    
    <h1 class="title">
        <a href="{{ content_url(resource.url) }}">
            {{ resource.meta.title }}
        </a>
    </h1>
    <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
        Posted: {{ resource.meta.created.strftime('%d %b %Y') }}
    </time>
    <a class="button white backlink" href="{{ content_url(resource.node.url) }}">all articles</a>
  </nav>

<div class="inArticleTitle">
	{{ resource.meta.title }}
</div>
<time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ resource.meta.created.strftime('%d %b %Y') }}
</time>
{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}

{% if resource.meta.tags %}
<div class="article_tags">
<ul class="tags clear">
tags:
{% for tag in resource.meta.tags %}
<li>
    <a class="small" href="{{ content_url('blog/tags/'~tag~'.html') }}">
        {{ tag }}
    </a>
</li>
{% endfor %}
</ul>
</div>
{% endif %}
</article>
{%- endblock main %}
<div class="social_buttons">
<a href="https://twitter.com/share" class="twitter-share-button" data-via="orbitlab" data-related="orbitlab" data-hashtags="acropolis">Tweet</a>
<div class="g-plusone"></div>
</div>
</section>

<div class="prev_next">
	<a class="prev"
	title="{{ resource.next_by_time.meta.title }}"
    {% if resource.next_by_time %}
    href="{{ content_url(resource.next_by_time.url) }}" {% endif %}>
	{{ resource.next_by_time.meta.title }}
	</a>
	<a class="next"
    title="{{ resource.prev_by_time.meta.title }}"
    {% if resource.prev_by_time %}
    href="{{ content_url(resource.prev_by_time.url) }}" {% endif %}>
	  {{ resource.prev_by_time.meta.title }}
	</a>
</div>

{%- endblock mytab %}

{% block scripts %}
 <script type="text/javascript">
 $(".post_nav").css("visibility", "hidden");
    $(window).scroll(function () {
		var d = $(window).scrollTop();
    	if (d > 200 )
    		{
      			$(".post_nav").css("visibility", "visible");
      			$(".post_nav").fadeIn("slow");
      		};
      	if (d < 200 )
    		{
      			$(".post_nav").fadeOut("slow");
      		};
    });
</script>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock scripts %}
